input {
  text-transform: none;
  text-align: center;
}

#main button {
  text-transform: uppercase;
  font-size: 1em;
  color: #fff !important;
  background-color: #191;
}

#main {
  max-width: 400px;
}

p.info {
  text-transform: none;
}

p.info a {
  color: #009;
  font-weight: bold;
}
